<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>We like you too, Adam</title>
<link type="text/css" rel="stylesheet" href="stylesheets/index.css" />
<link type="text/css" rel="stylesheet" href="stylesheets/base.css" />
<script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37829227-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <div id="wrap">
  <div id="page-wrapper">
    <h1>We like you too, Adam</h1>
    
    <div class="avatar">
      <img src="http://condor.wesleyan.edu/openmedia/athletics/0304wrestmugs/jonas,a04.jpg" class="adam">  
      <img src="https://si0.twimg.com/profile_images/1631179529/avatar_carrot.jpg" class="carrot">
    </div>
    
    <div class="copy">
      <h3>So much so, we'd like to offer you a job!</h3>
      <p>So bring your singlet and come join us</p>
    </div>  
    </div>
    </div>
  </body>
</html>

