body { 
  background: url('/images/brooklyn-bridge.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-wrapper {
  width: 1040px;
  margin: 0 auto;
}

.splash-text {
  color: #fff;
}

#login a {
  margin-left: -40px;
}

#splash-title {
  color: #fff;
  text-align:center;
  font-size: 56px;
}

#your-likes {
  
}

ul { 
  list-style-type: none;
} 

.box {
  background-color: white;
  float:left;
  width: 30%;
  margin-right: 5%;
  box-sizing: border-box;
}

#shared {
  border: 5px purple solid;
  background: url('/images/carrot.png') no-repeat; 
  background-size: 120%;
}

.box:last-child {
  margin-right: 0px;
}

#guides {
  background-color: white;
}

.list {
  background-color: white;
}

.full-circle {
 background-color: #c06;
 border: 3px solid #333;
 height: 250px;
 -moz-border-radius:125px;
 -webkit-border-radius: 125px;
 width: 250px;
 margin-right: 100px;
 float:left;
}

.full-circle h3 {
  text-align: center;
}

.full-circle p {
  margin-left: 20px;
  line-height: 24px;
}

.full-circle:last-child {
  margin-right: 0px;
}

#first-circle {
  background: url('/images/carrot.png') no-repeat; 
  background-size: 100%;
  background-color: white;

  line-height: 0px;
  margin-left: 35px;
  color: transparent;
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 300;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#first-circle:hover {
  background-color: black;
  width: 375px;
  height: 300px;
  background: black;
  margin-right: 0;
  line-height: 30px;
  color: white;
  font-style: bold;
  position: relative; 
  left: -150px;
  top: -50px;
}


#second-circle {
  background: url('/images/carrot_plate.jpg') no-repeat -36px -45px; 
  background-size: 130%;

  line-height: 0px;
  color: transparent;
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 300;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#second-circle:hover {
  background: url('/images/main_st_brooklyn_light.png') no-repeat -20px;
  background-size: 235%;
  background-color: white;
  width: 300px;
  height: 400px;
  margin-left: -50px;
  line-height: 30px;
  color: black;
  font-style: bold;
  position: relative; 
  top: -155px;
}

#second-circle h3 {
  margin-top: 50px;
}

#third-circle {
  background: url('/images/funny_carrot.jpg') no-repeat -88px -5px;
  background-size: 135%;

  line-height: 0px;
  color: transparent;
  font-size: 25px;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 300;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#third-circle:hover {
  background: url('/images/dumbo_view.jpg') no-repeat -88px -5px;
  background-size: 200%;

  width: 350px;
  height: 300px;
  margin-left: -100px;
  line-height: 30px;
  color: white;
  position: relative; 
  right: -40px;
  top: -50px;
}

#circles {
  margin-top: 200px;
}